/* form styles */

.inp {
	display: inline-block;
	width: 100%;
	border: 1px solid gray;
	border-radius: 3px;
	outline: 0;
	height: 40px;
	margin: 5px 0 30px;
	padding: 10px;
}
.inp-img {
	display: inline-block;
	width: 100%;
	outline: 0;
	height: 40px;
	margin: 5px 0 30px;
	padding: 10px;
}
li {
	list-style-type: none;
}
p {
	line-height: 2rem;
}
label {
	font-weight: 700;
}
input:focus,
textarea:focus {
	border: 1.5px solid #0b2237;
}
/* button */
.btn {
	outline: 0;
	color: aliceblue;
	background: #0b2237;
	padding: 8px 20px;
	border: 1px solid;
	border-radius: 5px;
	margin: 40px 5px 10px 10px;
	font-size: 1rem;
}
.btn:hover {
	opacity: 0.8;
	cursor: pointer;
}
.btn,
a {
	text-decoration: none;
}
/* Image style */
.imeg {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 60vh;
	border-radius: 5px;
	margin-top: 30px;
}

/* notifications */
.success {
	display: none;
	position: fixed;
	top: 60px;
	right: 20px;
	padding: 10px;
	background-color: cornflowerblue;
	color: #0b2237;
	border: #0b2237 1px solid;
	border-radius: 5px;
	animation: slide-in 2s forwards;
	z-index: 3;
}
@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.remove {
	display: none;
	position: fixed;
	top: 60px;
	right: 20px;
	padding: 10px;
	background-color: red;
	color: white;
	border-radius: 5px;
	animation: slide 2s forwards;
	z-index: 3;
}
@keyframes slide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(1);
	}
}
