* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lugrasimo', Arial, Helvetica, sans-serif;
	font-weight: 400;
	/* background: url('../images/blue-3.jpg') repeat; */
	background: linear-gradient(to right, #b1d1eeda, #022d551c);
	/* background: rgb(175, 224, 255); */
}
header{
	position: fixed;
	z-index: 1;
	top: 0;
}
.content {
	font-weight: 400;
	color: #0b2237;
	/* color: #fff; */
	/* background: #0b2237; */
	border-radius: 10px;
	border: 1.5px solid #0b2237;
	margin: 1rem 1.5rem 5rem 1.5rem;
	padding: 1.5rem;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px 5px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

.content-btn {
	border-top: 1.5px solid #0b2237;
	margin: 5rem 1.5rem 1rem 1.5rem;
	padding: 1.5rem;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px 5px rgba(0, 0, 0, 0.2);
	transform: translateY(2px);
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(35px);
}

h3 {
	line-height: 3rem;
	margin-left: 2rem;
}
h2{
	line-height: 3rem;
}

/* Header section */
.title-post {
	display: inline-block;
	margin-top: 9rem;
	padding: 0.5rem 2rem;
	background-color: #0b2237;
	color: #fff;
	border-radius: 5px;
}
.head {
	display: flex;
	width: 100%;
	background-color: #0b2237;
	color: #fff;
	justify-content: space-between;
	
	margin: auto;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.head h1 {
	font-weight: 400;
	margin: auto;
}
.title {
	display: flex;
}
.logo {
	width: 50px;
	height: 50px;
	padding: 0;
	/* border-radius: 50%; */
	margin-top: 0;
	/* margin-right: 15px; */
	
}
ul {
	margin-top: 15px;
}
.head a {
	text-decoration: none;
	opacity: 0.7;
	color: #fff;
	justify-content: center;
}
a:hover {
	cursor: pointer;
	opacity: 0.5;
}
.head li {
	list-style-type: none;
	align-items: center;
	display: inline;
	padding: 10px;
}

/* New post Form  */

.new-post-form{
	font-weight: 400;
	color: #0b2237;
	border-radius: 10px;
	border: 1.5px solid #0b2237;
	margin: 10rem 1.5rem 5rem 1.5rem;
	padding: 1.5rem;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
		5px 5px 15px 5px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

/* buttons */
.form {
	display: inline-block;
}
.edit {
	outline: 0;
	padding: 8px 20px;
	margin: 5px;
	background-color: rgb(0, 136, 255);
	color: #fff;
	border: 1px solid #333;
	border-radius: 5px;
}
.delete {
	outline: 0;
	padding: 8px 20px;
	margin: 5px;
	background-color: rgb(243, 41, 22);
	color: #fff;
	border: 1px solid #333;
	border-radius: 5px;
}
.delete:hover {
	cursor: pointer;
	transform: translateY(2px);
	transition: all 0.3s ease-in-out;
	opacity: 0.8;
}

.edit:hover {
	cursor: pointer;
	transform: translateY(2px);
	transition: all 0.3s ease-in-out;
	opacity: 0.8;
}

/* Footer section */
.footer {
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #0b2237;
	color: gray;
	justify-content: center;
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
